.advertising{
    width: 100%;
    height: 900px;
    background-image: url(../img/background_Advertising.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    margin:  200px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 100px;
    .advertisingMood{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        .subtitle{
            font-size:3.5rem;
            font-family: $fontJura;
            font-weight: 600;
            color: #E0E0E0;
        }
        .subtitle:nth-child(1){
            opacity: 1;
        }
        .subtitle:nth-child(2){
            opacity: 0.65;
        }
        .subtitle:nth-child(3){
            opacity: 0.35;
        }
    }
}
