// Best Sellers

.bestSellers{
    width:$screenPercentageWidth;
    height: auto;
    .subtitle{
        font-size:$subtitle;
        font-family: $fontRubik;
        color: $primaryColor;
        text-align: center;
        margin-bottom: 100px;
    }
    .sectionCardBlock{
        .cardProducts{
            width:100%;
            height:400px;
            cursor: pointer;
            overflow: hidden;
            transition: $transition;
            &:hover{
                box-shadow: $boxShadowCard;
            }
            .article{
                width:100%;
                height:auto;
                overflow: hidden;
                &:hover > .outFit{
                    transform:scale(110%);
                    filter: grayscale(100%);
                    box-shadow: $boxShadowCard;
                }
                .info{
                    width:101%;
                    @extend .flexColumn;
                    margin-top: 20px;
                    padding:10px;
                    background-color: $whiteColor;
                    transform: translateY(110%);
                    transition: transform 0.3s ease;
                    &:hover{
                        transform: translateY(-110%);
                    }
                    .nameOutfit{
                        color: $primaryColor;
                        font-size: $nameLogo;
                        font-weight: $mediumBold;
                        font-family: $fontRubik;
                    }
                    .price{
                        color: $tertiaryColor;
                        font-weight: $bold;
                        font-family: $fontJura;
                    }
                }
                .outFit{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center top;
                    vertical-align: middle;
                    filter: grayscale(10%);
                    box-shadow: 0 0 4px 2px $boxShadowCard;
                    transition: $transition;
                    &:hover ~ .info{
                        transform: translateY(-110%);
                    }
                }
            }
        }
    }
    .ctaStore{
        display:flex;
        justify-content: center;
        margin: 70px auto 0px;
        width: 200px;
        padding:$paddingSectionCto;
        color:$whiteColor;
        font-family: $fontJura;
        font-weight: $ExtraBold;
        background-color:$btnBackgroundColor;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover{
            background-color:#BC2327 ;
            box-shadow: $boxShadowCard;
            text-decoration: underline;
        }
    }
}
