 // Filter items

.sectionFilter{
    .menuFilterSide{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        #filterSide{
            display: none;
            &:checked ~ .menuFilter{
                transform: translate(0%);
            }
        }
        .headLine{
            position: relative;
            .filter{
                position: fixed;
                top:70px;
                left:20px;
                z-index: 5;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                cursor:pointer;
                .filterIcon{
                    width:35px;
                    background-color: $backgroundColor;
                    border-radius: 50%;
                    padding: 5px;
                    margin: 5px;
                    box-shadow: $boxShadowCard;
                    // transition: all 0.3s ease-in-out;
                    &:hover + .filterWord{
                        opacity: 1;
                        visibility:visible;
                        transform: translateY(100%);
                    }
                }
                .filterWord{
                    opacity: 0;
                    visibility: hidden;
                    font-size: $xSmallText;
                    font-family: $fontJura;
                    font-weight: $bold;
                    color: $whiteColor;
                    background-color: $blackColor;
                    padding: 5px 15px;
                    position: absolute;
                    top:25px;
                    left:0px;
                    transform: translateY(50%);
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        .subtitle{
            font-size: $regularText;
            font-family: $fontJura;
            color: $secondaryColor;
            font-weight: $mediumBold;
            padding: 5px;
            margin: 50px 0px;
        }
        .menuFilter{
            width: 20vw;
            height: 100vh;
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-color: $whiteColor;
            overflow: hidden;
            box-shadow:$boxShadowMenu;
            z-index: 10;
            transform: translate(-105%);
            transition:$transition;
            label{
                .closeCross{
                    width:15px;
                    cursor: pointer;
                    position: absolute;
                    top:20px;
                    right:25px;
                    transform: rotate(0deg);
                    transition: $transition;
                    &:hover{
                        transform: rotate(90deg);
                    }
                }
            }
            .choiceFilter{
                width: 90%;
                display: flex;
                flex-direction:column;
                justify-content: space-between;
                align-items:center;
                margin: 0px auto;
                .filterWord{
                    width: inherit;
                    font-size: $MediumTitle;
                    font-family: $fontJura;
                    color:$primaryColor;
                    font-weight: $bold;
                    margin:$neutralMargin ;
                    padding-bottom: 30px;
                    border-bottom: $borderBottom;
                }
                .sectionAvailability, .sectionPricing{
                    width: inherit;
                    margin:$neutralMargin;
                    padding: 30px 0px;
                    border-bottom:$borderBottom;
                    .titleAvailability, .titlePricing{
                        font-size: 1rem;
                        font-family: $fontJura;
                        color:$primaryColor;
                        font-weight: $bold;
                        margin: 15px 0px;
                    }
                    .availability, .pricing{
                        font-size: $smallText;
                        font-family: $fontJura;
                        color:$tertiaryColor;
                        .labelOne, .labelTwo, .labelThree{
                            display: flex;
                            flex-direction:row;
                            justify-content: space-between;
                            align-items:center;
                        }
                        .priceOne, .priceTwo, .priceThree{
                            display: flex;
                            flex-direction:row;
                            justify-content: space-between;
                            align-items: center;
                        }
                        input{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                .btnFilter{
                    width: 90%;
                    padding: 10px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin:30px auto;
                    font-size: $regularText;
                    font-family: $fontJura;
                    font-weight: $bold;
                    color: $whiteColor;
                    border: 1px solid transparent;
                    background-color: $blackColor;
                    transition: $transition;
                    &:hover{
                        color: $blackColor;
                        background-color: $whiteColor;
                        border:$btnMenu;
                        font-weight: $bold;
                    }
                }
            }
        }
    }
}
