.footerContainer{
    width: 100%;
    height: 100%;
    background-color:#1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 6px #070707;
    .footer{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px 20px;
        position: relative;
        .socialMedia{
            .contactUs{
                font-family: $fontJura;
                font-weight: 600;
                font-size: 0.9rem;
                color:rgb(194, 193, 193);
            }
            ul{
                display:flex;
                flex-direction: row;
                justify-content:center;
                align-items: flex-start;
                margin-left: -40px;
                padding-top: 10px;
                // border-top: 1px solid rgb(61, 61, 61);
                li{
                    list-style-type: none;
                    .item{
                        text-decoration: none;
                        .itemSocial{
                            width:30px;
                            margin: 0px 5px;
                        }
                    }
                }
            }
        }
        .brand{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top:50px;
            left:43.5%;
            .nameLogo{
                font-size: 1.8rem;
                font-family: $fontRubik;
                color:#BC2327;
            }
            .skull{
                width:35px;
            }
        }
        .payments{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h3{
                font-family: $fontJura;
                font-weight: 600;
                font-size: 0.9rem;
                color:rgb(194, 193, 193);
                padding: 0px 0px;
                position: absolute;
                top:50px;
                right: 225px;
            }
            .paymentCards{
                width: 55%;
                align-self: flex-end;
                padding-top: 10px;
                // border-top: 1px solid rgb(61, 61, 61);
            }
        }
    }
    .development{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        .raccoon{
            width:35px;
            padding-bottom: 5px;
        }
        .developer{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            padding-bottom: 5px;
            border-top: 1px solid rgb(61, 61, 61);
            p{
                font-family: $fontJura;
                font-weight: 400;
                font-size: 0.5rem;
                color:rgb(194, 193, 193);
                margin: 0px 0px;
                .raccoon{
                    color: #BC2327;
                    font-weight: 600;
                    font-family: $fontJura;
                }
            }
        }
    }
}



