
// footer

// Mixin

.footerContainer{
    width: $screenPercentageWidth;
    height: $screenPercentageHeight;
    background-color:$secondaryBackground;
    @extend .flexColumnCenterCenter;
    box-shadow: $boxShadowMenu;
    .footer{
        width:100%;
        @extend .flexRowBetween;
        padding: 50px 50px;
        position: relative;
        .socialMedia{
            .contactUs{
                font-family: $fontJura;
                font-weight: $bold;
                font-size: $smallText;
                color:$secondaryColor;
            }
            ul{
                @extend .flexRowCenterStart;
                margin-left: -40px;
                padding-top: 10px;
                // border-top: 1px solid rgb(61, 61, 61);
                li{
                    list-style-type: none;
                    .item{
                        text-decoration: none;
                        .itemSocial{
                            width:30px;
                            margin: 0px 5px;
                        }
                    }
                }
            }
        }
        .brand{
            @extend .flexColumnCenterCenter;
            position: absolute;
            top:50px;
            left:43.5%;
            .nameLogo{
                font-size: $nameLogo;
                font-family: $fontRubik;
                color:$primaryColor;
            }
            .skull{
                width:35px;
            }
        }
        .payments{
            @extend .flexColumnCenter;
            h3{
                font-family: $fontJura;
                font-weight: $bold;
                font-size: $smallText;
                color: $secondaryColor;
                padding: 0px 0px;
                position: absolute;
                top:50px;
                right: 225px;
            }
            .paymentCards{
                width: 55%;
                align-self: flex-end;
                padding-top: 10px;
            }
        }
    }
    .development{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        .raccoon{
            width:35px;
            padding-bottom: 5px;
        }
        .developer{
            @include display_flex_row_center_center();
            flex-wrap: nowrap;
            padding-bottom: 5px;
            border-top: $borderTop;
            p{
                font-family: $fontJura;
                font-weight: $mediumBold;
                font-size: $breakText;
                color:$secondaryColor;
                margin: 0px 0px;
                .raccoon{
                    color: $primaryColor;
                    font-weight: $bold;
                    font-family: $fontJura;
                }
            }
        }
    }
}



