// Gift Cards

.giftCards{
    width:$screenPercentageWidth;
    max-width: 1000px;
    height: auto;
    margin: 0px auto 150px;
    .subtitle{
        font-size:$subtitle;
        font-family: $fontRubik;
        color: $primaryColor;
        text-align: center;
        margin-bottom: 100px;
    }
    .containerGetOff{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .containerCards{
            width:80%;
            height: auto;
            .sectionCards{padding:35px;
                .card1, .card2, .card3, .card4{
                    width: 100%;
                    padding-top:20px;
                    border-radius: $borderRadius;
                    .subtitleGift{
                        font-size:$cardLetter;
                        font-family: $fontJura;
                        color: $primaryColor;
                        padding: 25px 0px;
                        font-weight: 500;
                    }
                    .paragraph{
                        font-size:$xSmallText;
                        font-family: $fontJura;
                        color: $blackColor;
                        font-weight:$bold;
                    }
                }
                .card1:nth-child(1){
                    background-color: $backgroundColor;
                }
                .card2:nth-child(2){
                    background-color:$secondaryBackground;
                    .paragraph{
                        color: $secondaryColor;
                    }
                }
                .card3:nth-child(3){
                    background-color: #E0B24D;
                }
                .card4:nth-child(4){
                    background-color: $primaryColor;
                    .subtitleGift{
                        color: $backgroundColor;
                        font-weight:$ExtraBold;
                    }
                }
            }
        }
        .containerMessage{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .subtitleMessage{
                font-size:$sectionSubtitle;
                font-family: $fontJura;
                color: $primaryColor;
                text-align: left;
                font-weight: $ExtraBold;
            }
            .paragraph{
                font-size:$sentence;
                font-family: $fontJura;
                color: $secondaryColor;
                text-align: left;
                font-weight: $MediumBold;
                .higthlighter{
                    color: $primaryColor;
                    font-weight: $bold;
                }
            }
        }
    }
}
