// Hero Section

.heroSection{
    width:$screenPercentageWidth;
    height: 1000px;
    background-image: url(../img/background_Hero.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    margin: -250px 0px 100px 0px;
    padding: 0px 100px;
    .heroSectionCentered{
        z-index: 1;
        .info{
            animation: info 0.75s linear;
            text-align: left;
            .break{
                font-size: $mainTitle;
                font-family: $fontRubik;
                color: $secondaryColor;
            }
            .subtitle{
                font-size: $LargeTitle;
                font-family: $fontJura;
                color: $primaryColor;
                font-weight:$bold;
                margin-top: -45px;
            }
            .cta{
                width:$screenPercentageWidth;
                margin-top: 45px;
                margin-bottom: 35px;
                .ctaDiscount, .ctaNewArrivals{
                    padding:$paddingHero ;
                    font-family: $fontJura;
                    font-weight: $bold;
                    font-size: $MediumTitle;
                    color:$tertiaryColor;
                    background-color: $secondaryColor;
                    margin-right: 5px;
                    text-decoration: none;
                    box-shadow:$btnBoxShadow;
                    transform:scale(100%);
                    transition: all 0.5s ease;
                    &:hover{
                        color:$whiteColor;
                        background-color: $btnBackgroundColor;
                        box-shadow: $btnBoxShadowHover;
                        text-decoration: underline;
                    }
                }
                .ctaNewArrivals{
                    color:$whiteColor;
                    background-color: $primaryColor;
                }
            }
            @keyframes info{
                0%{
                    transform: translateX(-30%);
                    opacity: 0;
                }
                25%{
                    transform: translateX(-15%);
                    opacity: 0.5;
                }
                100%{
                    transform: translateX(0%);
                    opacity: 1;
                }
            }
            .promo{
                font-size: $regularText;
                font-family: $fontJura;
                font-weight: $bold;
                color: $secondaryColor;
                .ctaShowRoom{
                    color: $primaryColor;
                    text-decoration: none;
                    transition:all 0.3s ease;
                    &:hover{
                        color: $secondaryColor;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .laptop{
        width: 60%;
        padding-top: 50px;
        animation: laptopSlide 0.75s linear;
        @keyframes laptopSlide{
            0%{
                transform: translateY(30%);
                opacity: 0;
            }
            25%{
                transform: translateY(15%);
                opacity: 0.5;
            }
            100%{
                transform: translateY(0%);
                opacity: 1;
            }
        }
    }
}
