// Hero Section

.heroSection{
    width:$screenPercentageWidth;
    height: 1000px;
    background-image: url(../img/background_Hero.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @extend .flexRowBetween;
    overflow: visible;
    margin: -250px 0px 100px 0px;
    padding: 0px 100px;
    .heroSectionCentered{
        z-index: 1;
        .info{
            animation: info 0.75s linear;
            text-align: left;
            .break{
                font-size: $mainTitle;
                font-family: $fontRubik;
                color: $secondaryColor;
            }
            .subtitle{
                font-size: $LargeTitle;
                font-family: $fontJura;
                color: $primaryColor;
                font-weight:$bold;
                margin-top: -45px;
            }
            .cta{
                width:$screenPercentageWidth;
                margin-top: 45px;
                margin-bottom: 35px;
                .ctaDiscount, .ctaNewArrivals{
                    padding:$paddingHero ;
                    font-family: $fontJura;
                    font-weight: $bold;
                    font-size: $MediumTitle;
                    color:$tertiaryColor;
                    background-color: $secondaryColor;
                    margin-right: 5px;
                    text-decoration: none;
                    box-shadow:$btnBoxShadow;
                    transform:scale(100%);
                    transition: all 0.5s ease;
                    &:hover{
                        color:$whiteColor;
                        background-color: $btnBackgroundColor;
                        box-shadow: $btnBoxShadowHover;
                        text-decoration: underline;
                    }
                }
                .ctaNewArrivals{
                    color:$whiteColor;
                    background-color: $primaryColor;
                }
            }
            @keyframes info{
                0%{
                    transform: translateX(-30%);
                    opacity: 0;
                }
                25%{
                    transform: translateX(-15%);
                    opacity: 0.5;
                }
                100%{
                    transform: translateX(0%);
                    opacity: 1;
                }
            }
            .promo{
                font-size: $regularText;
                font-family: $fontJura;
                font-weight: $bold;
                color: $secondaryColor;
                .ctaShowRoom{
                    color: $primaryColor;
                    text-decoration: none;
                    transition:all 0.3s ease;
                    &:hover{
                        color: $secondaryColor;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .laptop{
        max-width: 60%;
        height:auto;
        padding-top: 50px;
        display:block;
        -webkit-max-width: 100%;
        -moz-max-width: 100%;
        filter:drop-shadow(2px 9px 5px rgb(44, 44, 44) ) blur(0px);
        animation:motion 1.3s linear alternate;
        @keyframes motion{
            0%{
                filter: drop-shadow(0 0 95px $primaryColor ) blur(8px) brightness(0%);
                transform: translate(-1800px, -1100px) scale(0%) ;
                opacity: 0;
            }
            25%{
                filter:drop-shadow(0 0 85px $primaryColor )  blur(6px) brightness(250%);
                transform: translate(-900px, -500px) scale(0%, 10%);
                opacity: 0.2;
            }
            50%{
                filter: drop-shadow(0 0 75px $primaryColor ) blur(5px) brightness(550%);
                transform: translate(-700px, -300px) scale(35%, 45%);
                opacity: 0.3;
            }
            75%{
                filter: drop-shadow(0 0 25px rgb(0, 0, 0) ) blur(4px) brightness(200%);
                transform: translate(-200px, -100px)scale(70%, 70%);
                opacity: 0.7;
            }
            100%{
                filter:drop-shadow(0 0 5px rgb(44,44,44) ) blur(0px) brightness(100%)  ;
                transform: scale(100%, 100%);
                opacity: 1;
            }
        }
    }
}
