// Modals

// wishlist & shopping cart & store modal

#messageContainer, #messageNewProduct, #out-of-stock-message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 70px;
    right: 6%;
    z-index: 99;
    div{
        .messageWishlist, .stockProduct, .soldOutProduct{
            width: 14vw;
            height: auto;
            font-size: $xxSmallText;
            font-family: $fontJura;
            color:$primaryColor;
            font-weight:$bold;
            background-color: #000000d9;
            color: white;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            filter: $filterShadow;
        }
    }
}

// SoldOutStock

#out-of-stock-message{
    animation:slideUp 5800ms linear 0.3s;
    @keyframes slideUp {
        0% {
            transform:translateY(0%);
        }
        25%{
            transform:translateY(-125%);
        }
        50% {
            transform:translateY(-225%);
        }
        75%{
            transform:translateY(-325%);
        }
        100% {
            transform:translateY(-425%);
        }
    }
}
