// Menu Shop cart

#cart{
    display: none;
    &:checked ~ .sectionShop{
        transform:translate(0%);
    }
}
.sectionShop{
    width:30vw;
    height: 100vh;
    display:flex;
    position: fixed;
    top:0;
    right:0;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 0 10px 6px #070707;
    z-index: 10;
    padding-top: 30px;
    transform: translate(105%);
    transition: .3s ease-in-out;
    .menuCart{
        .cartShop{
            .closeCross{
                width:15px;
                cursor: pointer;
                position: absolute;
                top:20px;
                left:35px;
                transform: rotate(0deg);
                transition: all 0.3s ease-in-out;
                &:hover{
                    transform: rotate(90deg);
                }
            }
        }
        .menuCartlist{
            .choiceCartlist{
                width: 90%;
                display: flex;
                flex-direction:column;
                justify-content: space-between;
                align-items:flex-start;
                margin: 0px auto;
                padding: 0px 10px;
                height: 380px;
                overflow: scroll;
                position: fixed;
                top:60px;
                left:20px;
                .cartlistWord{
                    width: inherit;
                    font-size: 1.3rem;
                    font-family: $fontJura;
                    color:#BC2327;
                    font-weight: 600;
                    margin:0px ;
                }
                .cart{
                    .category{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 20px 0px;
                        border-bottom: 1px solid #e4e4e4;
                        .titleCartlist{
                            font-size: 1rem;
                            font-family: $fontJura;
                            color:#BC2327;
                            font-weight: 600;
                            margin: 15px 0px;
                        }
                    }
                    .cartlist{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding: 20px 0px;
                        border-bottom: 1px solid #e4e4e4;
                        .total{
                            font-size: 1rem;
                        }
                        .itemProduct{
                            width:15%;
                        }
                        .description{
                            display: flex;
                            flex-direction: column;
                            .price{
                                font-size: 1rem;
                                font-family: $fontJura;
                                color:#424242;
                                font-weight: 600;
                            }
                            .icons{
                                img{
                                    width:20px;
                                }
                            }
                        }
                        .itemNumber{
                            #quantity{
                                width:45px;
                                padding: 2px;
                                text-align: left;
                                font-size: 1rem;
                                font-family: $fontJura;
                                color:#BC2327;
                                font-weight: 600;
                            }
                        }
                        .total{
                            font-size: 1rem;
                            font-family: $fontJura;
                            color:#BC2327;
                            font-weight: 600;
                        }
                    }
                }
            }
            .outcomeCard{
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex;
                position:absolute;
                bottom:0px;
                left:20px;
                .outcome{
                    .shipping, .discount, .total{
                        margin: 2px;
                        width: inherit;
                        font-size: 1rem;
                        font-family: $fontJura;
                        color:#424242;
                        font-weight: 600;
                        display: flex;
                        justify-content: space-between;
                        // background-color: #707070;
                    }
                    .total{
                        color:#BC2327;
                        font-weight: 700;
                    }
                }
                .btnCheckout{
                    width: 100%;
                    padding: 10px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin:20px auto;
                    font-size: 1rem;
                    font-family: $fontJura;
                    font-weight: 600;
                    color: #ffffff;
                    border: 1px solid transparent;
                    background-color: #070707;
                    transition: all 0.3s ease;
                    &:hover{
                        color: #070707;
                        background-color: #ffffff;
                        border:1px solid #000000;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
