.newArrivals{
    width:100%;
    height: auto;
    .subtitle{
        font-size:4rem;
        font-family: $fontRubik;
        color: #BC2327;
        text-align: center;
        margin-bottom: 100px;
    }
    .sectionCard{
        margin-bottom: 70px;
        .cardProducts{
            width: 250%;
            position: relative;
            .article1{
                .smallCard{
                    display:none;
                }
                #outFit{
                    width: 100%;
                    height: 100%;
                    transition:all 0.3s ease;
                    &:hover{
                        filter: blur(2px) grayscale(60%);
                    }
                }
                .new{
                    display: none;
                }
                .new:checked + .smallCard{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height:auto;
                    padding: 10px;
                    background-color:#f3f3f3;
                    border-radius: 5px;
                    text-decoration: none;
                    position:absolute;
                    top: 70px;
                    right:25px;
                    box-shadow:0 0 3px 1px #474747;
                    z-index: 8;
                    transition: all 0.3s ease;
                    &:hover{
                        box-shadow: 0 0 4px 3px #474747;
                    }
                    .price{
                        height: 50px;
                        color: #BC2327;
                        font-size: 1rem;
                        font-weight: 700;
                        font-family: $fontJura;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin:auto;
                    }
                }
                .fadeAway{
                    .skull{
                        width:35px;
                        position:absolute;
                        top:30px;
                        right:10px;
                        border: 2px solid #ffffff;
                        border-radius: 50%;
                        cursor:pointer;
                        z-index: 1;
                        cursor: help;
                        animation: skull 2s linear infinite;
                        transform:scale(100%);
                        transition: transform 0.3s ease;
                        &:hover{
                            transform:scale(103%);
                        }
                        @keyframes skull{
                            0%{
                                box-shadow: 0 0 1px 1px #ffffff;
                            }
                            25%{
                                box-shadow: 0 0 3px 2px #f0f0f0;
                            }
                            50%{
                                box-shadow: 0 0 5px 4px #e4e4e4;
                            }
                            80%{
                                box-shadow: 0 0 6px 6px #d1d1d1;
                            }
                            100%{
                                box-shadow: 0 0 7px 8px #b4b4b4;
                            }
                        }
                    }
                }
            }
            .article2{
                .smallCard{
                    display:none;
                }
                #outFit{
                    width:100%;
                    height: 100%;
                    transition:all 0.3s ease;
                    &:hover{
                        filter: blur(2px) grayscale(60%);
                    }
                }
                .new{
                    display: none;
                }
                .new:checked + .smallCard{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height:auto;
                    cursor: pointer;
                    padding: 10px;
                    background-color:#f3f3f3;
                    border-radius: 5px;
                    text-decoration: none;
                    position:absolute;
                    top: 70px;
                    right:25px;
                    box-shadow:0 0 3px 1px #474747;
                    z-index: 8;
                    transition: all 0.3s ease;
                    &:hover{
                        box-shadow: 0 0 4px 3px #474747;;
                    }
                    .outfit{
                        width:100%;
                        transform: scale(100%);
                        transition:transform 0.3s ease;
                        &:hover{
                            transform:scale(85%);
                        }
                    }
                    .price{
                        height: 50px;
                        color: #BC2327;
                        font-size: 1rem;
                        font-weight: 700;
                        font-family: $fontJura;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin:auto;
                    }
                }
                .fadeAway{
                    .skull{
                        width:35px;
                        position:absolute;
                        top:30px;
                        right:10px;
                        border: 2px solid #ffffff;
                        border-radius: 50%;
                        cursor:pointer;
                        z-index: 1;
                        cursor: help;
                        animation: skull 2s linear infinite;
                        transform:scale(100%);
                        transition: transform 0.3s ease;
                        &:hover{
                            transform:scale(103%);
                        }
                        @keyframes skull{
                            0%{
                                box-shadow: 0 0 1px 1px #ffffff;
                            }
                            25%{
                                box-shadow: 0 0 3px 2px #f0f0f0;
                            }
                            50%{
                                box-shadow: 0 0 5px 4px #e4e4e4;
                            }
                            80%{
                                box-shadow: 0 0 6px 6px #d1d1d1;
                            }
                            100%{
                                box-shadow: 0 0 7px 8px #b4b4b4;
                            }
                        }
                    }
                }
            }
            .article3{
                .smallCard{
                    display:none;
                }
                #outFit{
                    width:100%;
                    height: 100%;
                    transition:all 0.3s ease;
                    &:hover{
                        filter: blur(2px) grayscale(60%);
                    }
                }
                .new{
                    display: none;
                }
                .new:checked + .smallCard{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height:auto;
                    cursor: pointer;
                    padding: 10px;
                    background-color:#f3f3f3;
                    border-radius: 5px;
                    text-decoration: none;
                    position:absolute;
                    top: 70px;
                    right:25px;
                    box-shadow:0 0 3px 1px #474747;
                    z-index: 8;
                    transition: all 0.3s ease;
                    &:hover{
                        box-shadow: 0 0 4px 3px #474747;;
                    }
                    .outfit{
                        width:100%;
                        transform: scale(100%);
                        transition:transform 0.3s ease;
                        &:hover{
                            transform:scale(85%);
                        }
                    }
                    .price{
                        height: 50px;
                        color: #BC2327;
                        font-size: 1rem;
                        font-weight: 700;
                        font-family: $fontJura;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin:auto;
                    }
                }
                .fadeAway{
                    .skull{
                        width:35px;
                        position:absolute;
                        top:30px;
                        right:10px;
                        border: 2px solid #ffffff;
                        border-radius: 50%;
                        cursor:pointer;
                        z-index: 1;
                        cursor: help;
                        animation: skull 2s linear infinite;
                        transform:scale(100%);
                        transition: transform 0.3s ease;
                        &:hover{
                            transform:scale(103%);
                        }
                        @keyframes skull{
                            0%{
                                box-shadow: 0 0 1px 1px #ffffff;
                            }
                            25%{
                                box-shadow: 0 0 3px 2px #f0f0f0;
                            }
                            50%{
                                box-shadow: 0 0 5px 4px #e4e4e4;
                            }
                            80%{
                                box-shadow: 0 0 6px 6px #d1d1d1;
                            }
                            100%{
                                box-shadow: 0 0 7px 8px #b4b4b4;
                            }
                        }
                    }
                }
            }
            .article4{
                .smallCard{
                    display:none;
                }
                #outFit{
                    width:100%;
                    height: 100%;
                    transition:all 0.3s ease;
                    &:hover{
                        filter: blur(2px) grayscale(60%);
                    }
                }
                .new{
                    display: none;
                }
                .new:checked + .smallCard{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height:auto;
                    cursor: pointer;
                    padding: 10px;
                    background-color:#f3f3f3;
                    border-radius: 5px;
                    text-decoration: none;
                    position:absolute;
                    top: 70px;
                    right:25px;
                    box-shadow:0 0 3px 1px #474747;
                    z-index: 8;
                    transition: all 0.3s ease;
                    &:hover{
                        box-shadow: 0 0 4px 3px #474747;;
                    }
                    .outfit{
                        width:100%;
                        transform: scale(100%);
                        transition:transform 0.3s ease;
                        &:hover{
                            transform:scale(85%);
                        }
                    }
                    .price{
                        height: 50px;
                        color: #BC2327;
                        font-size: 1rem;
                        font-weight: 700;
                        font-family: $fontJura;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin:auto;
                    }
                }
                .fadeAway{
                    .skull{
                        width:35px;
                        position:absolute;
                        top:30px;
                        right:10px;
                        border: 2px solid #ffffff;
                        border-radius: 50%;
                        cursor:pointer;
                        z-index: 1;
                        cursor: help;
                        animation: skull 2s linear infinite;
                        transform:scale(100%);
                        transition: transform 0.3s ease;
                        &:hover{
                            transform:scale(103%);
                        }
                        @keyframes skull{
                            0%{
                                box-shadow: 0 0 1px 1px #ffffff;
                            }
                            25%{
                                box-shadow: 0 0 3px 2px #f0f0f0;
                            }
                            50%{
                                box-shadow: 0 0 5px 4px #e4e4e4;
                            }
                            80%{
                                box-shadow: 0 0 6px 6px #d1d1d1;
                            }
                            100%{
                                box-shadow: 0 0 7px 8px #b4b4b4;
                            }
                        }
                    }
                }
            }
            .article5{
                .smallCard{
                    display:none;
                }
                #outFit{
                    width:100%;
                    height: 100%;
                    transition:all 0.3s ease;
                    &:hover{
                        filter: blur(2px) grayscale(60%);
                    }
                }
                .new{
                    display: none;
                }
                .new:checked + .smallCard{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height:auto;
                    cursor: pointer;
                    padding: 10px;
                    background-color:#f3f3f3;
                    border-radius: 5px;
                    text-decoration: none;
                    position:absolute;
                    top: 70px;
                    right:25px;
                    box-shadow:0 0 3px 1px #474747;
                    z-index: 8;
                    transition: all 0.3s ease;
                    &:hover{
                        box-shadow: 0 0 4px 3px #474747;;
                    }
                    .outfit{
                        width:100%;
                        transform: scale(100%);
                        transition:transform 0.3s ease;
                        &:hover{
                            transform:scale(85%);
                        }
                    }
                    .price{
                        height: 50px;
                        color: #BC2327;
                        font-size: 1rem;
                        font-weight: 700;
                        font-family: $fontJura;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin:auto;
                    }
                }
                .fadeAway{
                    .skull{
                        width:35px;
                        position:absolute;
                        top:30px;
                        right:10px;
                        border: 2px solid #ffffff;
                        border-radius: 50%;
                        cursor:pointer;
                        z-index: 1;
                        cursor: help;
                        animation: skull 2s linear infinite;
                        transform:scale(100%);
                        transition: transform 0.3s ease;
                        &:hover{
                            transform:scale(103%);
                        }
                        @keyframes skull{
                            0%{
                                box-shadow: 0 0 1px 1px #ffffff;
                            }
                            25%{
                                box-shadow: 0 0 3px 2px #f0f0f0;
                            }
                            50%{
                                box-shadow: 0 0 5px 4px #e4e4e4;
                            }
                            80%{
                                box-shadow: 0 0 6px 6px #d1d1d1;
                            }
                            100%{
                                box-shadow: 0 0 7px 8px #b4b4b4;
                            }
                        }
                    }
                }
            }
            .article6{
                .smallCard{
                    display:none;
                }
                #outFit{
                    width:100%;
                    height: 100%;
                    transition:all 0.3s ease;
                    &:hover{
                        filter: blur(2px) grayscale(60%);
                    }
                }
                .new{
                    display: none;
                }
                .new:checked + .smallCard{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height:auto;
                    cursor: pointer;
                    padding: 10px;
                    background-color:#f3f3f3;
                    border-radius: 5px;
                    text-decoration: none;
                    position:absolute;
                    top: 70px;
                    right:25px;
                    box-shadow:0 0 3px 1px #474747;
                    z-index: 8;
                    transition: all 0.3s ease;
                    &:hover{
                        box-shadow: 0 0 4px 3px #474747;;
                    }
                    .outfit{
                        width:100%;
                        transform: scale(100%);
                        transition:transform 0.3s ease;
                        &:hover{
                            transform:scale(85%);
                        }
                    }
                    .price{
                        height: 50px;
                        color: #BC2327;
                        font-size: 1rem;
                        font-weight: 700;
                        font-family: $fontJura;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin:auto;
                    }
                }
                .fadeAway{
                    .skull{
                        width:35px;
                        position:absolute;
                        top:30px;
                        right:10px;
                        border: 2px solid #ffffff;
                        border-radius: 50%;
                        cursor:pointer;
                        z-index: 1;
                        cursor: help;
                        animation: skull 2s linear infinite;
                        transform:scale(100%);
                        transition: transform 0.3s ease;
                        &:hover{
                            transform:scale(103%);
                        }
                        @keyframes skull{
                            0%{
                                box-shadow: 0 0 1px 1px #ffffff;
                            }
                            25%{
                                box-shadow: 0 0 3px 2px #f0f0f0;
                            }
                            50%{
                                box-shadow: 0 0 5px 4px #e4e4e4;
                            }
                            80%{
                                box-shadow: 0 0 6px 6px #d1d1d1;
                            }
                            100%{
                                box-shadow: 0 0 7px 8px #b4b4b4;
                            }
                        }
                    }
                }
            }
            .article7{
                .smallCard{
                    display:none;
                }
                #outFit{
                    width:100%;
                    height: 100%;
                    transition:all 0.3s ease;
                    &:hover{
                        filter: blur(2px) grayscale(60%);
                    }
                }
                .new{
                    display: none;
                }
                .new:checked + .smallCard{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height:auto;
                    cursor: pointer;
                    padding: 10px;
                    background-color:#f3f3f3;
                    border-radius: 5px;
                    text-decoration: none;
                    position:absolute;
                    top: 70px;
                    right:25px;
                    box-shadow:0 0 3px 1px #474747;
                    z-index: 8;
                    transition: all 0.3s ease;
                    &:hover{
                        box-shadow: 0 0 4px 3px #474747;;
                    }
                    .outfit{
                        width:100%;
                        transform: scale(100%);
                        transition:transform 0.3s ease;
                        &:hover{
                            transform:scale(85%);
                        }
                    }
                    .price{
                        height: 50px;
                        color: #BC2327;
                        font-size: 1rem;
                        font-weight: 700;
                        font-family: $fontJura;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin:auto;
                    }
                }
                .fadeAway{
                    .skull{
                        width:35px;
                        position:absolute;
                        top:30px;
                        right:10px;
                        border: 2px solid #ffffff;
                        border-radius: 50%;
                        cursor:pointer;
                        z-index: 1;
                        cursor: help;
                        animation: skull 2s linear infinite;
                        transform:scale(100%);
                        transition: transform 0.3s ease;
                        &:hover{
                            transform:scale(103%);
                        }
                        @keyframes skull{
                            0%{
                                box-shadow: 0 0 1px 1px #ffffff;
                            }
                            25%{
                                box-shadow: 0 0 3px 2px #f0f0f0;
                            }
                            50%{
                                box-shadow: 0 0 5px 4px #e4e4e4;
                            }
                            80%{
                                box-shadow: 0 0 6px 6px #d1d1d1;
                            }
                            100%{
                                box-shadow: 0 0 7px 8px #b4b4b4;
                            }
                        }
                    }
                }
            }
            .article8{
                .smallCard{
                    display:none;
                }
                #outFit{
                    width:100%;
                    height: 100%;
                    transition:all 0.3s ease;
                    &:hover{
                        filter: blur(2px) grayscale(60%);
                    }
                }
                .new{
                    display: none;
                }
                .new:checked + .smallCard{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height:auto;
                    cursor: pointer;
                    padding: 10px;
                    background-color:#f3f3f3;
                    border-radius: 5px;
                    text-decoration: none;
                    position:absolute;
                    top: 70px;
                    right:25px;
                    box-shadow:0 0 3px 1px #474747;
                    z-index: 8;
                    transition: all 0.3s ease;
                    &:hover{
                        box-shadow: 0 0 4px 3px #474747;;
                    }
                    .outfit{
                        width:100%;
                        transform: scale(100%);
                        transition:transform 0.3s ease;
                        &:hover{
                            transform:scale(85%);
                        }
                    }
                    .price{
                        height: 50px;
                        color: #BC2327;
                        font-size: 1rem;
                        font-weight: 700;
                        font-family: $fontJura;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin:auto;
                    }
                }
                .fadeAway{
                    .skull{
                        width:35px;
                        position:absolute;
                        top:30px;
                        right:10px;
                        border: 2px solid #ffffff;
                        border-radius: 50%;
                        cursor:pointer;
                        z-index: 1;
                        cursor: help;
                        animation: skull 2s linear infinite;
                        transform:scale(100%);
                        transition: transform 0.3s ease;
                        &:hover{
                            transform:scale(103%);
                        }
                        @keyframes skull{
                            0%{
                                box-shadow: 0 0 1px 1px #ffffff;
                            }
                            25%{
                                box-shadow: 0 0 3px 2px #f0f0f0;
                            }
                            50%{
                                box-shadow: 0 0 5px 4px #e4e4e4;
                            }
                            80%{
                                box-shadow: 0 0 6px 6px #d1d1d1;
                            }
                            100%{
                                box-shadow: 0 0 7px 8px #b4b4b4;
                            }
                        }
                    }
                }
            }
            .article9{
                .smallCard{
                    display:none;
                }
                #outFit{
                    width:100%;
                    height: 100%;
                    transition:all 0.3s ease;
                    &:hover{
                        filter: blur(2px) grayscale(60%);
                    }
                }
                .new{
                    display: none;
                }
                .new:checked + .smallCard{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height:auto;
                    cursor: pointer;
                    padding: 10px;
                    background-color:#f3f3f3;
                    border-radius: 5px;
                    text-decoration: none;
                    position:absolute;
                    top: 70px;
                    right:25px;
                    box-shadow:0 0 3px 1px #474747;
                    z-index: 8;
                    transition: all 0.3s ease;
                    &:hover{
                        box-shadow: 0 0 4px 3px #474747;;
                    }
                    .outfit{
                        width:100%;
                        transform: scale(100%);
                        transition:transform 0.3s ease;
                        &:hover{
                            transform:scale(85%);
                        }
                    }
                    .price{
                        height: 50px;
                        color: #BC2327;
                        font-size: 1rem;
                        font-weight: 700;
                        font-family: $fontJura;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin:auto;
                    }
                }
                .fadeAway{
                    .skull{
                        width:35px;
                        position:absolute;
                        top:30px;
                        right:10px;
                        border: 2px solid #ffffff;
                        border-radius: 50%;
                        cursor:pointer;
                        z-index: 1;
                        cursor: help;
                        animation: skull 2s linear infinite;
                        transform:scale(100%);
                        transition: transform 0.3s ease;
                        &:hover{
                            transform:scale(103%);
                        }
                        @keyframes skull{
                            0%{
                                box-shadow: 0 0 1px 1px #ffffff;
                            }
                            25%{
                                box-shadow: 0 0 3px 2px #f0f0f0;
                            }
                            50%{
                                box-shadow: 0 0 5px 4px #e4e4e4;
                            }
                            80%{
                                box-shadow: 0 0 6px 6px #d1d1d1;
                            }
                            100%{
                                box-shadow: 0 0 7px 8px #b4b4b4;
                            }
                        }
                    }
                }
            }
            .article10{
                .smallCard{
                    display:none;
                }
                #outFit{
                    width:100%;
                    height: 100%;
                    transition:all 0.3s ease;
                    &:hover{
                        filter: blur(2px) grayscale(60%);
                    }
                }
                .new{
                    display: none;
                }
                .new:checked + .smallCard{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height:auto;
                    cursor: pointer;
                    padding: 10px;
                    background-color:#f3f3f3;
                    border-radius: 5px;
                    text-decoration: none;
                    position:absolute;
                    top: 70px;
                    right:25px;
                    box-shadow:0 0 3px 1px #474747;
                    z-index: 8;
                    transition: all 0.3s ease;
                    &:hover{
                        box-shadow: 0 0 4px 3px #474747;;
                    }
                    .outfit{
                        width:100%;
                        transform: scale(100%);
                        transition:transform 0.3s ease;
                        &:hover{
                            transform:scale(85%);
                        }
                    }
                    .price{
                        height: 50px;
                        color: #BC2327;
                        font-size: 1rem;
                        font-weight: 700;
                        font-family: $fontJura;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin:auto;
                    }
                }
                .fadeAway{
                    .skull{
                        width:35px;
                        position:absolute;
                        top:30px;
                        right:10px;
                        border: 2px solid #ffffff;
                        border-radius: 50%;
                        cursor:pointer;
                        z-index: 1;
                        cursor: help;
                        animation: skull 2s linear infinite;
                        transform:scale(100%);
                        transition: transform 0.3s ease;
                        &:hover{
                            transform:scale(103%);
                        }
                        @keyframes skull{
                            0%{
                                box-shadow: 0 0 1px 1px #ffffff;
                            }
                            25%{
                                box-shadow: 0 0 3px 2px #f0f0f0;
                            }
                            50%{
                                box-shadow: 0 0 5px 4px #e4e4e4;
                            }
                            80%{
                                box-shadow: 0 0 6px 6px #d1d1d1;
                            }
                            100%{
                                box-shadow: 0 0 7px 8px #b4b4b4;
                            }
                        }
                    }
                }
            }
        }
    }
    .ctaStore{
        display:flex;
        justify-content: center;
        margin: 70px auto 0px;
        width: 200px;
        padding:20px 40px;
        color:#d9d9d9;
        background-color: #3f3f3f;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover{
            background-color:#BC2327 ;
            box-shadow: 0 0 4px 2px rgb(112, 112, 112);
            text-decoration: underline;
        }
    }
}
