 // Place order

#order{
    display: flex;
    font-family: $fontJura;
    &:checked ~ .sectionPlaceOrder{
        transform:translateY(150%);
    }
}
.sectionPlaceOrder{
    width:65vw;
    max-width: 65vw;
    height:auto;
    position: fixed;
    top:-80%;
    left:16.5%;
    @extend .flexColumnBetween;
    background-color:#f3f3f31c;
    box-shadow:$placeOrderShadow;
    margin:7px auto;
    padding-top:35px;
    padding-bottom:30px;
    font-family: $fontJura;
    z-index: 8;
    transform: translateY(0%);
    border-radius: 10px;
    transition: $transition;
    .orderCross{
        .crossCloseWhite{
            width:25px;
            cursor: pointer;
            position: absolute;
            top:-20px;
            right:-422px;
            z-index: 8;
            transform: rotate(0deg);
            transition: $transition;
            &:hover{
                transform: rotate(90deg);
            }
        }
    }
    .unionOrder{
        width:92%;
        overflow: hidden;
        @extend .flexRowBetween;
        .delivery{
            width:60%;
            height: 350px;
            padding: 15px ;
            margin-right:35px;
            background-color:$whiteColor;
            border-radius: $borderRadius;
            @extend .flexColumn;
            .deliveryContact{
                width: 100%;
                @extend .flexColumn;
                row-gap: 4px;
                fieldset{
                    width: 100%;
                    height: auto;
                    padding: 0px;
                    label{
                        width:100%;
                        input{
                            width:100%;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            padding-left: 10px;
                            font-size: 0.8rem;
                            border:$borderForm;
                            border-radius: $borderRadiusInput;
                        }
                    }
                }
                .contactTitle, .deliveryTitle{
                    font-size: $regularText;
                    font-family: $fontJura;
                    font-weight: $bold;
                    color: $primaryColor;
                }
                .deliveryTitle{
                    margin-top:5px;
                }
                .fullName{
                    width: 100%;
                    @extend .flexRowBetween;
                    gap: 10px;
                }
            }
            .creditCards{
                margin:10px 0px 5px 15px;
                .transactions{
                    font-size: $xSmallText;
                    font-family: $fontJura;
                    font-weight: $bold;
                    color: $primaryColor;
                }
                .paymentCards{
                    width:75%;
                }
            }
        }
        .formPayment{
            width:40%;
            height: 350px;
            @include display_flex_column_space_between_flex_start();
            background-color:$whiteColor;
            padding: 15px;
            border-radius: $borderRadius;
            .payment{
                width:100%;
                @extend .flexColumn;
                row-gap: 4px;
                .paymentTitle{
                    font-size:$regularText;
                    font-family: $fontJura;
                    font-weight:$bold;
                    color: $primaryColor;
                }
                input{
                    width:100%;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 10px;
                    font-size:$xSmallText;
                    border:$borderForm;
                    border-radius: $borderRadiusInput;
                }
                .btnPlaceOnOrder{
                    width: 100%;
                    padding: 10px 20px;
                    @extend .flexColumnCenterCenter;
                    margin:75px auto 0px;
                    font-size: $regularText;
                    font-family: $fontJura;
                    font-weight: 600;
                    color: $whiteColor;
                    border:$btnMenu;
                    background-color: $blackColor;
                    transition:$transition;
                    &:hover{
                        color:$blackColor;
                        background-color: $whiteColor;
                        border:$btnMenu;
                        font-weight:$bold;
                    }
                }
            }
        }
    }
}
.sectionPlaceOrder::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#00000081;
    backdrop-filter: blur(25px);
    filter: blur(10px);
    z-index: -1;
    border-radius: $borderRadius;
}
.sectionPlaceOrder > * {
    position: relative;
}
