 // Place order

 #order{
    display: flex;
    font-family: $fontJura;
    &:checked ~ .sectionPlaceOrder{
        transform:translateY(150%);
    }
}
.sectionPlaceOrder{
    width:65vw;
    height:auto;
    position: fixed;
    top:-80%;
    left:16.5%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
    background-color:#f3f3f31c;
    box-shadow: 0 0 4px 2px #525252;
    margin:7px auto;
    padding-top:35px;
    padding-bottom:30px;
    font-family: $fontJura;
    z-index: 8;
    transform: translateY(0%);
    border-radius: 10px;
    transition: .3s ease-in-out;
    .orderCross{
        .crossCloseWhite{
            width:25px;
            cursor: pointer;
            position: absolute;
            top:-30px;
            right:-435px;
            z-index: 8;
            transform: rotate(0deg);
            transition: all 0.3s ease-in-out;
            &:hover{
                transform: rotate(90deg);
            }
        }
    }
    .unionOrder{
        width:92%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .delivery{
            width:60%;
            height: 350px;
            margin-right:35px;
            background-color: #ffffff;
            padding: 15px ;
            border-radius: 10px;
            .deliveryContact{
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 4px;
                .contactTitle, .deliveryTitle{
                    font-size: 1rem;
                    font-family: $fontJura;
                    font-weight: 600;
                    color: #BC2327;
                }
                .deliveryTitle{
                    margin-top:15px;
                }
            }
            .fullName{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                #lastName{
                    margin-left: 15px;
                }
            }
            input{
                width:100%;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                font-size: 0.8rem;
                border:1px solid #d9d9d9;
                border-radius: 5px;
            }
            .creditCards{
                .transactions{
                    margin:25px auto 5px;
                    font-size: 0.8rem;
                    font-family: $fontJura;
                    font-weight: 600;
                    color: #BC2327;
                }
                .paymentCards{
                    width:100%;
                }
            }
        }
        .formPayment{
            width:40%;
            height: 350px;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            background-color: #ffffff;
            padding: 15px;
            border-radius: 10px;
            .payment{
                width:100%;
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 4px;
                .paymentTitle{
                    font-size: 1rem;
                    font-family: $fontJura;
                    font-weight: 600;
                    color: #BC2327;
                }
                input{
                    width:100%;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 10px;
                    font-size: 0.8rem;
                    border:1px solid #d9d9d9;
                    border-radius: 5px;
                }
                .btnPlaceOnOrder{
                    width: 100%;
                    padding: 10px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin:75px auto 0px;
                    font-size: 1rem;
                    font-family: $fontJura;
                    font-weight: 600;
                    color: #ffffff;
                    border: 1px solid transparent;
                    background-color: #070707;
                    transition: all 0.3s ease;
                    &:hover{
                        color: #070707;
                        background-color: #ffffff;
                        border:1px solid #000000;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
.sectionPlaceOrder::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#00000081;
    backdrop-filter: blur(25px);
    filter: blur(10px);
    z-index: -1;
    border-radius: 10px;
}
.sectionPlaceOrder > * {
    position: relative;
}
