// body.roomDarkMode{
//     color: #161515;
//     background-color: #ebdfdf;
//     .header{
//         .menuIcons{
//             ul{
//                 .iconMoon{
//                     background-color: #dfdfdf;
//                     color:#131313;
//                     transition: all 0.2s ease-in;
//                     &:hover{
//                         background-color: #131313;
//                         color:#dfdfdf;
//                         box-shadow: 0 0 5px #dfdfdf;
//                     }
//                 }
//             }
//         }
//     }
// }
