// Show Room

.showRoom{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px auto;
    // overflow: hidden;
    font-family: $fontJura;
    .leftSide, .rightSide{
        width: 100%;
        height: auto;
    }
    .leftSide{
        .itemProduct{
            width:auto;
            height: auto;
            object-fit: cover;
            overflow: hidden;
        }
    }
    .rightSide{
        display: flex;
        flex-direction: column;
        gap:20px;
        .infoProduct{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 20px;
            .productRating{
                width: 100%;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 5px 5px ;
                background-color: #f1f1f1;
                .product{
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #000000;
                }
                .rating{
                    width:15%;
                }
            }
            .color{
                width: 100%;
                height:auto;
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 10px auto;
                .titleColor{
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #000000;
                    margin-bottom: 20px;
                }
                .containerColor{
                    display:flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap:20px;
                    position: relative;

                    .smallPic{
                        position: relative;
                        .toolTip{
                            opacity:0;
                            visibility: hidden;
                            position:absolute;
                            top:-40%;
                            left:10px;
                            transform: translateY(100%);
                            transition:all 0.3s ease-in-out;
                            p{
                                background-color: #000000;
                                padding: 5px 10px;
                                font-size: 0.7rem;
                                font-weight: 700;
                                color: #ffffff;
                                font-family: $fontJura;
                            }
                        }
                        .itemProduct{
                            width:70px;
                            height:auto;
                            object-fit: cover;
                            border: 1px solid #f1f1f1;
                            transition: all 0.3s ease-in-out;
                            &:hover{
                                border: 1px solid #000000;
                            }
                            &:hover + .toolTip{
                                opacity: 1;
                                visibility: visible;
                                transform: translateY(0%);
                            }
                        }
                    }
                    .colorBlack, .colorWhite{
                        cursor:pointer;
                        width:70px;
                        height:104px;
                        position: relative;
                        background-color: #555555;
                        border:1px solid #f1f1f1;
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            border: 1px solid #000000;
                        }
                        &:hover > .toolTip{
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0%);
                        }
                        .toolTip{
                            opacity:0;
                            visibility: hidden;
                            position:absolute;
                            top:-40%;
                            left:10px;
                            transform: translateY(100%);
                            transition:all 0.3s ease-in-out;
                            p{
                                background-color: #000000;
                                padding: 5px 10px;
                                font-size: 0.7rem;
                                font-weight: 700;
                                color: #ffffff;
                                font-family: $fontJura;
                            }
                        }
                    }
                    .colorWhite{
                        background-color: #ffffff;
                    }
                }
            }
            .size{
                width: 100%;
                height:auto;
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                margin: 10px auto;
                .titleSize{
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #000000;
                    margin-bottom: 20px;
                }
                .containerSize{
                    display:flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap:20px;
                    .itemSize{
                        width: 80px;
                        height: 60px;
                        font-size: 1rem;
                        font-weight: 700;
                        cursor:pointer;
                        color: #000000;
                        background-color: #f1f1f1;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        &:hover{
                            border: 1px solid #000000;
                        }
                    }
                }
            }
            .addToCart{
                width:100%;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap:20px;
                margin: 20px auto;
                position: relative;
                .btnAddToCart{
                    width:100%;
                    height: 50px;
                    color: #ffffff;
                    padding: 15px;
                    font-size: 1rem;
                    font-weight: 700;
                    border: 1px solid black;
                    background-color: #000000;
                    transition:all .3s ease;
                    &:hover{
                        color: #000000;
                        border: 1px solid black;
                        background-color: #ffffff;
                    }
                }
                .wishlistIcon{
                    width:50px;
                    cursor: pointer;
                    padding-top: 11px;
                    padding-right: 11px;
                    padding-left: 11px;
                    padding-bottom: 11px;
                    border: 1px solid #f1f1f1;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        border: 1px solid #000000;
                    }
                    &:hover + .toolTip{
                        opacity:1;
                        visibility: visible;
                        transform: translateY(0%);
                    }
                }
                .toolTip{
                    width:auto;
                    height: auto;
                    cursor:pointer;
                    opacity: 0;
                    visibility: hidden;
                    position:absolute;
                    top:-80%;
                    right:-10px;
                    background-color: rgb(0, 0, 0);
                    transform: translateY(100%);
                    transition: all 0.3s ease-in-out;
                    .toolTipMessage{
                        margin: 5px 10px;
                        font-size: 0.7rem;
                        font-weight: 700;
                        color: #ffffff;
                        font-family: $fontJura;
                    }
                }
            }
            .complementInfo{
                width:100%;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                gap:40px;
                color: #000000;
                font-size: 0.8rem;
                font-weight: 700;
                text-align: center;
                margin: 20px auto 0px;
                .delivery, .creditCard, .return{
                    width:100%;
                    height: auto;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover > .deliveryIcon{
                        transform:scale(109%);
                    }
                    &:hover > .creditCardIcon{
                        transform:scale(109%);
                    }
                    &:hover > .returnIcon{
                        transform:scale(109%);
                    }
                    .deliveryIcon, .creditCardIcon, .returnIcon{
                        width:35px;
                        padding-bottom: 10px;
                        transform: scale(100%);
                        transition:transform 0.3s ease;
                    }
                }
            }
        }
        .containerAccordion{
            .accordionItem{
                .title{
                    .btnCollapse{
                        width:100%;
                        font-weight: 700;
                        color: #000000;
                        background-color: #ffffff;
                    }
                }
                .accordionCollapse{
                    border: 1px solid #f1f1f1;
                    .accordionBody:nth-child(1){
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        gap:5px;
                        .case{
                            width:100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: flex-end;
                            cursor:pointer;
                            background-color: #f1f1f1;
                            padding:10px;
                            &:hover{
                                background-color: #f8f8f8;
                            }
                            .message{
                                font-size: 0.7rem;
                                font-weight: 600;
                                span{
                                    color: #da2222;
                                    font-weight: 700;
                                }
                            }
                            .opinion{
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                .itemProduct{
                                    width:auto;
                                    height: 70px;
                                }
                                .info{
                                    align-items: flex-end;
                                    .rating{
                                        width:50px;
                                    }
                                    .name, .date{
                                        font-size: 0.6rem;
                                        font-weight: 700;
                                    }
                                    .date{
                                        color: #da2222;
                                    }
                                }
                            }
                        }
                    }
                    .accordionBodyDos{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        p{
                            font-size: 0.8rem;
                            font-weight: 600;
                            align-self: self-start;
                            span{
                                color: #da2222;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}
.newArrivals{
    .title{
        font-size:2rem;
        font-family: $fontRubik;
        color: #BC2327;
        text-align: center;
        margin-bottom: 30px;
    }
}
