// Show Room

.showRoom{
    width: 80%;
    height: auto;
    @include display_flex_row_space_between_flex_start();
    margin: 150px auto;
    // overflow: hidden;
    font-family: $fontJura;
    .leftSide, .rightSide{
        width: 100%;
        height: auto;
    }
    .leftSide{
        .itemProduct{
            width:auto;
            height: auto;
            object-fit: cover;
            overflow: hidden;
        }
    }
    .rightSide{
        display: flex;
        flex-direction: column;
        gap:20px;
        .infoProduct{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 20px;
            .productRating{
                width: 100%;
                @extend .flexRowBetween;
                padding: 5px 5px ;
                background-color: $backgroundColor;
                .product{
                    font-size:$MediumTitle;
                    font-weight:$ExtraBold;
                    color: $blackColor;
                }
                .rating{
                    width:15%;
                }
            }
            .color{
                width: 100%;
                height:auto;
                @extend .flexColumn;
                margin: 10px auto;
                .titleColor{
                    font-size: $MediumTitle;
                    font-weight: $ExtraBold;
                    color: $blackColor;
                    margin-bottom: 20px;
                }
                .containerColor{
                    display:flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap:20px;
                    position: relative;
                    .smallPic{
                        position: relative;
                        cursor:pointer;
                        .toolTip{
                            opacity:0;
                            visibility: hidden;
                            position:absolute;
                            top:-40%;
                            left:10px;
                            transform: translateY(100%);
                            transition:$transition;
                            p{
                                background-color: $blackColor;
                                padding: 5px 10px;
                                font-size: $xxSmallText;
                                font-weight:$ExtraBold;
                                color: $whiteColor;
                                font-family: $fontJura;
                            }
                            .clipPath{
                                width: 30px;
                                height: 30px;
                                background-color: $blackColor;
                                clip-path: polygon(49% 30%, 20% 0, 80% 0);
                                position: absolute;
                                top:25px;
                                left:10px;
                            }
                        }
                        .itemProduct{
                            width:70px;
                            height:auto;
                            object-fit: cover;
                            border: $itemProduct;
                            transition: $transition;
                            &:hover{
                                border: $btnMenu;
                            }
                            &:hover + .toolTip{
                                opacity: 1;
                                visibility: visible;
                                transform: translateY(0%);
                            }
                        }
                    }
                    .colorBlack, .colorWhite{
                        cursor:pointer;
                        width:70px;
                        height:104px;
                        position: relative;
                        background-color: #555555;
                        border:$itemProduct;
                        transition: $transition;
                        &:hover{
                            border: $btnMenu;
                        }
                        &:hover > .toolTip{
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0%);
                        }
                        .toolTip{
                            opacity:0;
                            visibility: hidden;
                            position:absolute;
                            top:-40%;
                            left:10px;
                            transform: translateY(100%);
                            transition:$transition;
                            p{
                                background-color: $blackColor;
                                padding: 5px 10px;
                                font-size: $xxSmallText;
                                font-weight: $ExtraBold;
                                color: $whiteColor;
                                font-family: $fontJura;
                            }
                            .clipPath{
                                width: 30px;
                                height: 30px;
                                background-color: $blackColor;
                                clip-path: polygon(49% 30%, 20% 0, 80% 0);
                                position: absolute;
                                top:25px;
                                left:10px;
                            }
                        }
                    }
                    .colorWhite{
                        background-color: $whiteColor;
                    }
                }
            }
            .size{
                width: 100%;
                height:auto;
                @include display_flex_column_space_between_flex_start();
                margin: 10px auto;
                .titleSize{
                    font-size: $MediumTitle;
                    font-weight: $ExtraBold;
                    color: $blackColor;
                    margin-bottom: 20px;
                }
                .containerSize{
                    display:flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap:20px;
                    .itemSize{
                        width: 80px;
                        height: 60px;
                        font-size: $regularText;
                        font-weight: $ExtraBold;
                        cursor:pointer;
                        color: $blackColor;
                        background-color: $backgroundColor;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        transition: $transition;
                        &:hover{
                            border: $btnMenu;
                        }
                    }
                }
            }
            .addToCart{
                width:100%;
                @extend .flexRowBetween;
                gap:20px;
                margin: 20px auto;
                position: relative;
                .btnAddToCart{
                    width:100%;
                    height: 50px;
                    color: $backgroundColor;
                    padding: 15px;
                    font-size: $regularText;
                    font-weight: $ExtraBold;
                    border: 1px solid black;
                    background-color:$blackColor;
                    transition:$transition;
                    &:hover{
                        color: $blackColor;
                        border:$btnMenu;
                        background-color: $whiteColor;
                    }
                }
                .wishlistIcon{
                    width:50px;
                    cursor: pointer;
                    padding-top: 11px;
                    padding-right: 11px;
                    padding-left: 11px;
                    padding-bottom: 11px;
                    border: $itemProduct;
                    transition: $transition;
                    &:hover{
                        border: $btnMenu;
                    }
                    &:hover + .toolTip{
                        opacity:1;
                        visibility: visible;
                        transform: translateY(0%);
                    }
                }
                .toolTip{
                    width:auto;
                    height: auto;
                    cursor:pointer;
                    opacity: 0;
                    visibility: hidden;
                    position:absolute;
                    top:-80%;
                    right:-10px;
                    background-color:$blackColor;
                    transform: translateY(100%);
                    transition: $transition;
                    .toolTipMessage{
                        margin: 5px 10px;
                        font-size:$xxSmallText;
                        font-weight: $ExtraBold;
                        color: $whiteColor;
                        font-family: $fontJura;
                    }
                    .clipPath{
                        width: 30px;
                        height: 30px;
                        background-color: $blackColor;
                        clip-path: polygon(49% 30%, 20% 0, 80% 0);
                        position: absolute;
                        top:25px;
                        left:18px;
                    }
                }
            }
            .complementInfo{
                width:100%;
                @include display_flex_row_space_between_flex_start();
                gap:40px;
                color: $blackColor;
                font-size: $xSmallText;
                font-weight: $ExtraBold;
                text-align: center;
                margin: 20px auto 0px;
                .delivery, .creditCard, .return{
                    width:100%;
                    height: auto;
                    cursor: pointer;
                    transition: $transition;
                    &:hover > .deliveryIcon{
                        transform:scale(109%);
                    }
                    &:hover > .creditCardIcon{
                        transform:scale(109%);
                    }
                    &:hover > .returnIcon{
                        transform:scale(109%);
                    }
                    .deliveryIcon, .creditCardIcon, .returnIcon{
                        width:35px;
                        padding-bottom: 10px;
                        transform: scale(100%);
                        transition:$transition;
                    }
                }
            }
        }
        .containerAccordion{
            .accordionItem{
                .title{
                    .btnCollapse{
                        width:100%;
                        font-weight: $semiBold;
                        color: $blackColor;
                        background-color:$whiteColor;
                    }
                }
                .accordionCollapse{
                    border: $itemProduct;
                    .accordionBody:nth-child(1){
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        gap:5px;
                        .case{
                            width:100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: flex-end;
                            cursor:pointer;
                            background-color: $backgroundColor;
                            padding:10px;
                            &:hover{
                                background-color: #f8f8f8;
                            }
                            .message{
                                font-size:$xxSmallText;
                                font-weight: $mediumBold;
                                span{
                                    color: $primaryColor;
                                    font-weight:$ExtraBold;
                                }
                            }
                            .opinion{
                                width: 100%;
                                @extend .flexRowBetween;
                                .itemProduct{
                                    width:auto;
                                    height: 70px;
                                }
                                .info{
                                    align-items: flex-end;
                                    .rating{
                                        width:50px;
                                    }
                                    .name, .date{
                                        font-size: $BreakTextContent;
                                        font-weight: $ExtraBold;
                                    }
                                    .date{
                                        color: $primaryColor;
                                    }
                                }
                            }
                        }
                    }
                    .accordionBodyDos{
                        @extend .flexColumnCenterCenter;
                        p{
                            font-size: $xSmallText;
                            font-weight: $mediumBold;
                            align-self: self-start;
                            span{
                                color: $primaryColor;
                                font-weight: $ExtraBold;
                            }
                        }
                    }
                }
            }
        }
    }
}
.skullSocialMedia{
    position: fixed;
    bottom:30px;
    left:30px;
    z-index: 8;
    .socialMedia{
        @extend .flexColumnBetween;
        #socialSkull{
            display:none;
            &:checked ~ ul{
                opacity:2;
                visibility:visible;
                transform: translateY(-100%);
            }
        }
        .label{
            .skullIcon{
                width:32px;
                cursor: pointer;
                position: fixed;
                bottom: 30px;
                left: 30px;
                z-index: 8;
                transition: $transition;
                &:hover{
                    transform: translateY(0%) scale(105%);
                    filter:drop-shadow(0 0 6px #696061);
                }
            }
        }
        ul{
            @extend .flexColumnBetween;
            position: relative;
            bottom:-80px;
            left:-30px;
            opacity:0;
            visibility:hidden;
            transform: translateY(-15%);
            transition:$transition;
            li{
                list-style-type: none;
                .item{
                    .itemSocial{
                        width:32px;
                        text-decoration: none;
                        margin:5px 0px;
                        filter:  grayscale(0%);
                        transition:$transition;
                        &:hover{
                            transform: scale(110%, 110%);
                            filter:drop-shadow(0 0 6px #696061) grayscale(100%);
                        }
                    }
                }
            }
        }
    }
}
#containerNewArrivals{
    margin-bottom:150px;
    .title{
        font-size:$nameLogo;
        font-family: $fontRubik;
        color: $primaryColor;
        text-align: center;
        margin-bottom: 100px;
    }
}
