// Show Room

.showRoom{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px auto;
    // overflow: hidden;
    font-family: $fontJura;
    .leftSide, .rightSide{
        width: 100%;
        height: auto;
    }
    .leftSide{
        overflow: hidden;
        .itemProduct{
            width:auto;
            height: auto;
            object-fit: cover;
        }
    }
    .rightSide{
        display: flex;
        flex-direction: column;
        gap:20px;
        .infoProduct{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 20px;
            .productRating{
                width: 100%;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 5px 5px ;
                background-color: #d9d9d9;
                .product{
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #000000;
                }
                .rating{
                    width:20%;
                }
            }
            .color{
                width: 100%;
                height:auto;
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 10px auto;
                .titleColor{
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #000000;
                }
                .containerColor{
                    display:flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap:55px;
                    .colorBlack, .colorWhite{
                        cursor:pointer;
                        width: 50px;
                        height: 70px;
                        background-color: #000000;
                        border:1px solid #000000;
                        &:hover{
                            border: 1px solid #a3a3a3;
                        }
                    }
                    .colorWhite{
                        background-color: #ffffff;
                    }
                }
            }
            .size{
                width: 100%;
                height:auto;
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                margin: 10px auto;
                .titleSize{
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #000000;
                }
                .containerSize{
                    display:flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap:55px;
                    .itemSize{
                        width: 50px;
                        height: 70px;
                        font-size: 1rem;
                        font-weight: 700;
                        cursor:pointer;
                        color: #000000;
                        background-color: #d9d9d9;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        &:hover{
                            border: 1px solid #000000;
                        }
                    }
                }
            }
            .addToCart{
                width:100%;
                display:flex;
                flex-direction: row;
                align-items: center;
                gap:30px;
                margin: 20px auto;
                .btnAddToCart{
                    width:90%;
                    color: #ffffff;
                    padding: 15px;
                    font-size: 1rem;
                    font-weight: 700;
                    border: 1px solid black;
                    background-color: #000000;
                    transition:all .3s ease;
                    &:hover{
                        color: #000000;
                        border: 1px solid black;
                        background-color: #ffffff;
                    }
                }
                .wishlistIcon{
                    width:25px;
                    cursor: pointer;
                }
            }
            .complementInfo{
                width:100%;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                gap:40px;
                color: #000000;
                font-size: 0.8rem;
                font-weight: 700;
                text-align: center;
                margin: 20px auto 0px;
                .delivery, .creditCard, .return{
                    width:100%;
                    height: auto;
                    .deliveryIcon, .creditCardIcon, .returnIcon{
                        width:35px;
                    }
                }
            }
        }
        .containeraccordion{
            .title{
                width:100%;
                height:40px;
                font-weight: 700;
            }
        }
    }
}
.newArrivals{
    .title{
        font-size:2rem;
        font-family: $fontRubik;
        color: #BC2327;
        text-align: center;
        margin-bottom: 30px;
    }
}
