// Store

// Mixin

.containerStore{
    margin: 100px auto 150px;
    .tagGetoff{
        position: fixed;
        top:35%;
        right:0%;
        transform: rotate(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        text-decoration: none;
        .discount{
            animation: getOff 0.5s linear;
            .title{
                font-size:1rem;
                font-family: $fontJura;
                color: #ffffff;
                text-align: center;
                writing-mode: vertical-rl;
                text-orientation: right;
                transform: rotate(180deg);
                font-weight: 600;
                cursor: pointer;
                background-color: #000000;
                padding: 40px 15px;
                transition: all 0.3s ease;
                &:hover{
                    background-color: #BC2327;
                    // box-shadow: 0 0 4px 2px #BC2327;
                }
            }
            @keyframes getOff{
                0%{
                    transform: translateX(-100%);
                }
                100%{
                    transform: translateX(0%);
                }
            }
        }
    }

    // Banner getOff

    .getOffHoddy{
        width:100%;
        height: 100%;
        #cross{
            display: none;
            &:checked ~ .bannerGetOff{
                transform: translateY(100%);
            }
        }
        .bannerGetOff{
            width: 62vw;
            height: auto;
            @extend .flexColumnEvenlyCenter;
            border-radius: 10px;
            background-color:#00000013;
            box-shadow: 0 0 6px 4px black;
            position: fixed;
            top:-340px;
            left:18%;
            z-index: 8;
            transform: translateY(300%);
            overflow: hidden;
            transition: .3s ease-in-out;
            label{
                .crossCloseWhite{
                    width:25px;
                    position: relative;
                    top:15px;
                    right:-390px;
                    cursor: pointer;
                    z-index: 10;
                    transform: rotate(0deg);
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        transform: rotate(90deg);
                    }
                }
            }
            .title{
                font-size:4rem;
                font-family: $fontRubik;
                color: #BC2327;
                margin-top:20px;
            }
            .slideGetOff{
                @extend .flexRowEvenlyCenter;
                padding: 20px;
                backdrop-filter: blur(10px);
                .hoddy{
                    padding:10px;
                    img{
                        width:100%;
                        height:auto;
                    }
                    h3{
                        margin-top: 30px;
                        font-size:1.1rem;
                        font-family: $fontJura;
                        color: #BC2327;
                    }
                    p{
                        padding: 10px auto;
                        font-size:1rem;
                        font-family: $fontJura;
                        color: #d9d9d9;
                    }
                }
            }
        }
        .bannerGetOff::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color:#000000e5;
            backdrop-filter: blur(10px);
            filter: blur(10px);
            z-index: -1;
            border-radius: 10px;
        }
        .bannerGetOff > * {
            position: relative;
        }
    }

    // Section store

    .sectionStore{
        .sectionCard{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 30px;
            .cardProducts{
                width:100%;
                height:auto;
                transition:$transition;
                &:hover{
                    box-shadow: 0 0 4px 2px #707070;
                }
                .article{
                    width:100%;
                    height: auto;
                    overflow: hidden;
                    position: relative;
                    &:hover > .outFit{
                        transform:scale(110%);
                        filter: grayscale(100%);
                        box-shadow: 0 0 4px 2px #707070;
                    }
                    &:hover > .soldOutLabel{
                        background-color: $primaryColor;
                    }
                    .soldOutLabel{
                        transform: skew(-15deg, 0deg);
                        position: absolute;
                        top:0px;
                        right:-5px;
                        padding:5px 10px;
                        background-color: $blackColor;
                        color:$whiteColor;
                        font-weight: 500;
                        font-family: $fontJura;
                        z-index:1;
                        transition:$transition;
                    }
                    .info{
                        width:101%;
                        @extend  .flexColumn;
                        color: $tertiaryColor;
                        font-weight: 500;
                        font-family: $fontJura;
                        padding:10px;
                        background-color:$whiteColor;
                        gap:5px;
                        transform: translateY(0%);
                        transition: transform $transition;
                        .heartIcon{
                            width:20px;
                            align-self: self-end;
                            cursor: pointer;
                        }
                        .linkStore{
                            width: 100%;
                            text-align: center;
                            padding: 10px;
                            color: $whiteColor;
                            font-weight: 600;
                            font-family: $fontJura;
                            background-color: $primaryColor;
                            border: 1px solid $primaryColor;
                            text-decoration: none;
                            transition:$transition;
                            &:hover{
                                // color: #BC2327;
                                color: $whiteColor;
                                // background-color: #D9D9D9;
                                background-color: $blackColor;
                                // box-shadow: 0 0 4px 2px #BC2327;
                                border: 1px solid $blackColor;
                                cursor:pointer;
                            }
                        }
                    }
                    .outFit{
                        width:100%;
                        max-width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center center;
                        vertical-align: middle;
                        filter: grayscale(10%);
                        box-shadow: 0 0 4px 2px #707070;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
    .arrowUp{
        position: fixed;
        bottom:30px;
        right:30px;
        z-index: 8;
        .directionUp{
            .arrowUpIcon{
                width:32px;
                border-radius: 50%;
                background-color: $lineColor;
                border: 2px solid $lineColor;
                transition: all 0.3s ease;
                &:hover{
                    background-color: $primaryColor;
                    border: 2px solid $primaryColor;
                }
            }
        }
    }
    .skullSocialMedia{
        position: fixed;
        bottom:30px;
        left:30px;
        .socialMedia{
            @extend .flexColumnBetween;
            #socialSkull{
                display:none;
                &:checked ~ ul{
                    opacity:1;
                    visibility:visible;
                    transform: translateY(-100px);
                }
            }
            .label{
                .skullIcon{
                    width:32px;
                    cursor: pointer;
                    position: fixed;
                    bottom: 30px;
                    left: 30px;
                    z-index: 8;
                    transition: $transition;
                    &:hover{
                        transform: translateY(0%) scale(105%);
                        filter:drop-shadow(0 0 6px #696061) grayscale(100%);
                    }
                }
            }
            ul{
                @extend .flexColumnBetween;
                position: relative;
                bottom:30px;
                left:-30px;
                opacity:0;
                visibility:hidden;
                transform: translateY(35%);
                transition:$transition;
                li{
                    list-style-type: none;
                    .item{
                        .itemSocial{
                            width:32px;
                            text-decoration: none;
                            margin:5px 0px;
                            filter:  grayscale(0%);
                            transform: scale(100%, 100%);
                            transition:$transition;
                            &:hover{
                                transform: scale(110%, 110%);
                                filter:drop-shadow(0 0 6px #696061) grayscale(100%);
                            }
                        }
                    }
                }
            }
        }
    }
}
