.containerStore{
    margin: 100px auto 150px;
    .sectionStore{
        .sectionCard{
            .cardProducts{
                width:250px;
                height:auto;
                cursor: pointer;
                overflow: hidden;
                transition: all 0.3s ease;
                &:hover{
                    box-shadow: 0 0 4px 2px #707070;
                }
                .article{
                    width:100%;
                    height:100%;
                    overflow: hidden;
                    &:hover > .outFit{
                        transform:scale(103%);
                        filter: grayscale(100%);
                        box-shadow: 0 0 4px 2px #707070;
                    }
                    .info{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        color: #D9D9D9;
                        font-weight: 400;
                        margin-top: 20px;
                        padding:20px;
                        background-color: #131313f6;
                        transform: translateY(-110%);
                        transition: transform 0.3s ease;
                        .heartIcon{
                            align-self: self-end;
                        }
                        .linkStore{
                            width: 100%;
                            text-align: center;
                            padding: 5px;
                            color: #D9D9D9;
                            font-weight: 500;
                            background-color: #BC2327;
                            text-decoration: none;
                            transition: all 0.3s ease;
                            &:hover{
                                color: #BC2327;
                                background-color: #D9D9D9;
                                box-shadow: 0 0 4px 2px #BC2327;
                            }
                        }
                    }
                    .outFit{
                        width:inherit;
                        max-width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center center;
                        vertical-align: middle;
                        filter: grayscale(20%);
                        box-shadow: 0 0 4px 2px #707070;
                        transition: all 0.3s ease;
                        &:hover > .info{
                            filter: grayscale(100%);
                        }
                    }
                }
            }
        }
    }
    .arrowUp{
        position: fixed;
        bottom:30px;
        right:30px;
        z-index: 8;
        .directionUp{
            .arrowUpIcon{
                width:45px;
                border-radius: 50%;
                border: 2px solid white;
                transition: all 0.3s ease;
                &:hover{
                    background-color: #BC2327;
                    border: 2px solid #BC2327;
                }
            }
        }
    }
    .skullSocialMedia{
        position: fixed;
        bottom:30px;
        left:30px;
        cursor: pointer;
        z-index: 8;
        .socialMedia{
            .skullIcon{
                width:45px;
            }
            ul{
                display: none;
                position: relative;
                bottom:58px;
                left:30px;
                li{
                    list-style-type: none;
                    .item{
                        .itemSocial{
                            width:40px;
                            text-decoration: none;
                            margin:5px 0px;
                        }
                    }
                }
            }
        }
    }
    .sectionFilter{
        .menuFilterSide{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            #filterSide{
                display: none;
                &:checked ~ .menuFilter{
                    transform: translate(0%);
                }
            }
            .headLine{
                .filter{
                    position: fixed;
                    top:80px;
                    left: 20px;
                    z-index: 10;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                    cursor:pointer;
                    .filterIcon{
                        width:35px;
                        background-color: #D9D9D9;
                        border-radius: 50%;
                        padding: 5px;
                        margin: 5px;
                        box-shadow: 0 0 4px 2px #707070;
                    }
                    .filterWord{
                        font-size: 0.8rem;
                        font-family: $fontJura;
                        color: #D9D9D9;
                        font-weight: 400;
                        padding: 5px;
                        margin: 5px;
                    }
                }
            }
            p{
                font-size: 1rem;
                font-family: $fontJura;
                color: #D9D9D9;
                font-weight: 400;
                padding: 5px;
                margin: 5px;
            }
            .menuFilter{
                width:20vw;
                height: 100vh;
                display:flex;
                position: fixed;
                top:0;
                left:0;
                z-index: 10px;
                flex-direction: column;
                justify-content:center;
                align-items: flex-start;
                background-color: #ffffff;
                overflow: hidden;
                box-shadow: 0 0 10px 6px #070707;
                z-index: 10;
                transform: translate(-100%);
                transition: .3s ease-in-out;
                label{
                    .closeCross{
                        width:20px;
                        cursor: pointer;
                        position: absolute;
                        top:20px;
                        right:25px;
                        transform: scale(100%);
                        transition: all 0.3s ease-in-out;
                    }
                }
                .choiceFilter{
                    width: 90%;
                    display: flex;
                    flex-direction:column;
                    justify-content: space-between;
                    align-items:flex-start;
                    margin: 0px auto;
                    .filterWord{
                        width: inherit;
                        font-size: 1.3rem;
                        font-family: $fontJura;
                        color:#BC2327;
                        font-weight: 600;
                        margin:0px auto ;
                        padding-bottom: 30px;
                        border-bottom: 1px solid #e4e4e4;
                    }
                    .sectionAvailability, .sectionPricing{
                        width: inherit;
                        margin:0px auto ;
                        padding: 30px 0px;
                        border-bottom: 1px solid #e4e4e4;
                        .titleAvailability, .titlePricing{
                            font-size: 1rem;
                            font-family: $fontJura;
                            color:#BC2327;
                            font-weight: 600;
                            margin: 15px 0px;
                        }
                    }
                    .btnFilter{
                        width: 90%;
                        padding: 10px 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin:30px auto;
                        color: white;
                        background-color: #070707;
                        border: 1px solid #070707;
                        transition: all 0.3s ease;
                        &:hover{
                            border: 1px solid #BC2327;
                            background-color: #BC2327;
                        }
                    }
                }
            }
        }
    }
}

