
// Variables Globals

// Font-family

$fontJura: 'Jura', sans-serif;
$fontRubik: 'Rubik Distressed', cursive;

// Font-size

$mainTitle:4.5rem;
$subtitle:4rem;
$sectionSubtitle:3.5rem;
$cardLetter:3rem;
$LargeTitle :2.5rem;
$nameLogo:1.8rem;
$sentence:1.5rem;
$MediumTitle:1.2rem;
$regularText:1rem;
$smallText:0.9rem;
$xSmallText:0.8rem;
$xxSmallText:0.7rem;
$BreakTextContent:0.6rem;
$breakText:0.5rem;

// Cellphone-font-size

// Font-Weight

$regularBold:300;
$mediumBold:400;
$semiBold:500;
$bold:600;
$ExtraBold:700;

// Color System

$whiteColor: #ffffff;
$blackColor: #000000;
$primaryColor:#bc2327;
$secondaryColor:#9a9a9a;
$tertiaryColor:#191919;
$backgroundColor:#f1f1f1;
$moonBackgroundColor:#131313;
$btnBackgroundColor:#3d3d3d;
$secondaryBackground:#1b1b1b;
$lineColor:#6b6b6b;

// Shadows

$btnBoxShadow:1px 5px 6px 2px #363636;
$btnBoxShadowHover:0 0 6px 2px #BC2327;
$boxShadowCard:0 0 4px 2px #707070;
$boxShadowMenu:0 0 10px 6px #070707;
$boxShadowNewArr:0 0 3px 1px #474747;
$boxShadowNewArrHover:0 0 4px 3px #474747;
$placeOrderShadow: 0 0 4px 2px #525252;

// Animation

$animationSkull:skull 2s linear infinite;

// $shadowColor:;

$btnDropShadow:#363636;
$hoverCardColor:#707070;

// $paddingCto

$paddingSectionCto: 20px 40px;

// Hero Section Button

$paddingHero:25px 55px;

// Margin

$neutralMargin: 0px auto;

// Border-radius

$borderRadius:10px;
$borderRadiusInput:5px;

// Border

$borderTop:1px solid #3d3d3d;
$borderBottom:1px solid #e4e4e4;
$btnMenu:1px solid #000000;
$FormBottom: 1px solid #9c9c9c;
$borderSkull: 2px solid #ffffff;
$borderForm:1px solid #d9d9d9;
$itemProduct:1px solid #f1f1f1;

// Size-screen

$screenWidth:100vw;
$screenHeight:100vh;
$screenPercentageWidth:100%;
$screenPercentageHeight:100%;

// Transitions

$transition: 0.3s ease-in-out;
